<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="io.pragra.learning.hellotospring.BMWM3">
        <constructor-arg name="name" value="Mmmmmmmm3"></constructor-arg>
        <constructor-arg name="engine" ref="dieselEngine"  ></constructor-arg>
    </bean>

    <bean class="io.pragra.learning.hellotospring.DieselEngine" name="dieselEngine">
        <constructor-arg name="engineType" value="Diesel Engine"></constructor-arg>
        <constructor-arg name="horsePower" value="650"></constructor-arg>
    </bean>

</beans>